$layout-breakpoint-small: 768px;

.project {
  display: flex;
  flex-grow: 1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    flex-grow: 1;
    gap: 1rem;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;

    &-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
  }

  &__sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    width: 100%;
    gap: 2rem;
  }
}

@media screen and (min-width: $layout-breakpoint-small) {
  .project__title {
    &-section {
    flex-direction: row;
    justify-content: space-between;
  }
  }
}